:host() {
  h1 {
    font-size: 60px;
  }

  .update-and-play {
    background: rgba(0, 0, 0, 0.4);
  }

  .release-notes {
    overflow: auto;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000000;
    }
  }

  .information {
    p {
      display: flex;
      justify-content: space-between;
    }
  }
}