:host() {
  h1 {
    font-size: 60px;
  }

  .update-and-play {
    background: rgba(0, 0, 0, 0.4);
  }

  .release-notes {
    overflow: auto;
  }

  .information {
    p {
      display: flex;
      justify-content: space-between;
    }

    .log {
      height: 100%;

      .logger {
        position: relative;
        height: 100%;

        div {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;

          overflow-y: scroll;

          pre {
            white-space: pre-wrap;
          }
        }
      }
    }
  }

  .update-button {
    width: 20%
  }
}