<div class="w-100 d-flex flex-column">
  <h1 class="title text-center">Boulevard</h1>

  <div class="release-notes flex-grow-1 p-5"
    [innerHTML]="releaseNotes$ | async"></div>

  <div class="update-and-play my-5 p-2 d-flex align-items-center flex-row">
    <!-- Progress bar -->
    <div class="flex-grow-1 p-4">
      <div class="progress">
        <div class="progress-bar-striped bg-success"
          role="progressbar"
          style="width: 25%"></div>
      </div>
    </div>
    <button class="py-3 px-5 btn btn-link">PLAY</button>
  </div>
</div>