<div class="w-100 d-flex flex-column">
  <h1 class="title text-center">Boulevard</h1>

  <div class="flex-grow-1 row row-column">
    <!-- Release notes -->
    <div *ngIf="releaseNotes$ | async as notes"
      [@fadeUp]
      class="release-notes col-7 p-5"
      [innerHTML]="notes"></div>
    <!-- Information -->
    <div [@fadeUp]
      class="information col-5 p-5 d-flex flex-column">
      <div>
        <h4>Information</h4>
        <p>
          <b>Launcher Version</b>
          <span>{{ launcherVersion }}</span>
        </p>
        <p>
          <b>Latest Game Version</b>
          <span>{{ latestGameVersion$ | async }}</span>
        </p>
      </div>
      <div class="log mt-2 d-block">
        <div class="logger">
          <div>
            <pre *ngIf="log$ | async as log">{{ log }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="update-and-play h-8 my-5 p-2 d-flex align-items-center flex-row">
    <!-- Progress bar -->
    <div class="flex-grow-1 p-4">
      <div class="progress">
        <div class="progress-bar-striped bg-success"
          role="progressbar"
          [ngStyle]="{'width': progressPercent$ | async}"></div>
      </div>
    </div>
    <div class="update-button mx-auto text-center">
      <ng-container [ngSwitch]="status$ | async">
        <div *ngSwitchCase="'DOWNLOAD_REQUIRED'">
          <button [@popIn]
            (click)="update()"
            class="py-3 px-5 btn btn-link">UPDATE to v{{ latestGameVersion$ | async }}</button>
        </div>
        <div *ngSwitchCase="'DOWNLOAD_REQUESTED'">
          <button [@popIn]
            disabled
            class="py-3 px-5 btn btn-link">Starting download...</button>
        </div>
        <div *ngSwitchCase="'DOWNLOAD_IN_PROGRESS'">
          <button [@popIn]
            disabled
            class="py-3 px-5 btn btn-link">{{ progressPercent$ | async }}</button>
        </div>
        <div *ngSwitchCase="'EXTRACT_IN_PROGRESS'">
          <button [@popIn]
            disabled
            class="py-3 px-5 btn btn-link">Extracting... {{ progressPercent$ | async }}</button>
        </div>
        <div *ngSwitchCase="'EXTRACT_ERROR'">
          <button [@popIn]
            disabled
            class="py-3 px-5 btn btn-link">Failed to extract</button>
        </div>
        <div *ngSwitchCase="'DOWNLOAD_ERROR'">
          <button [@popIn]
            disabled
            class="py-3 px-5 btn btn-link">Failed to download</button>
        </div>
        <div *ngSwitchCase="'PLAYABLE'">
          <button [@popIn]
            (click)="play()"
            class="py-3 px-5 btn btn-link">PLAY v{{ latestGameVersion$ | async}}</button>
        </div>
        <div *ngSwitchDefault>
          <button [@popIn]
            disabled
            class="py-3 px-5 btn btn-link">Loading...</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>