<div class="w-100 d-flex flex-column">
  <h1 class="title text-center">Boulevard</h1>

  <div class="flex-grow-1 row row-column">
    <!-- Release notes -->
    <div class="release-notes col-8 p-5"
      [innerHTML]="releaseNotes$ | async"></div>
    <!-- Information -->
    <div class="information col-4 p-5">
      <h4>Information</h4>
      <p>
        <b>Launcher Version</b>
        <span>{{ launcherVersion }}</span>
      </p>
      <p>
        <b>Installed Game Version</b>
        <span>{{ installedGameVersion$ | async }}</span>
      </p>
      <p>
        <b>Latest Game Version</b>
        <span>{{ latestGameVersion$ | async }}</span>
      </p>
    </div>
  </div>

  <div class="update-and-play my-5 p-2 d-flex align-items-center flex-row">
    <!-- Progress bar -->
    <div class="flex-grow-1 p-4">
      <div class="progress">
        <div class="progress-bar-striped bg-success"
          role="progressbar"
          [ngStyle]="{'width': progressPercent$ | async}"></div>
      </div>
    </div>
    <div [ngSwitch]="status$ | async">
      <div *ngSwitchCase="'UPDATE_REQUIRED'">
        <button (click)="update()"
          class="py-3 px-5 btn btn-link">UPDATE ({{ latestGameVersion$ | async }})</button>
      </div>
      <div *ngSwitchCase="'UPDATE_REQUESTED'">
        <button disabled
          class="py-3 px-5 btn btn-link">Starting download...</button>
      </div>
      <div *ngSwitchCase="'UPDATE_IN_PROGRESS'">
        <button disabled
          class="py-3 px-5 btn btn-link">{{ progressPercent$ | async }}</button>
      </div>
      <div *ngSwitchCase="'PLAYABLE'">
        <button (click)="play()"
          class="py-3 px-5 btn btn-link">PLAY</button>
      </div>
      <div *ngSwitchDefault>
        <button disabled
          class="py-3 px-5 btn btn-link">Loading...</button>
      </div>
    </div>

  </div>
</div>