// Bulma configuration
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: "Nunito", sans-serif;
@import '../node_modules/bulma/bulma.sass';

// Global styles
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}