// Global styles
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}

h1 {
  font-family: 'Schaeffer'
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
  -webkit-app-region: no-drag;
}